@model IEnumerable<MineBlog.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" style="background-image: url(/img/normal-breadcrumb.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Account Management</h2>
                    <p>Manage your users Account here.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<div class="wrapper wrapper--w1000">
    <div class="card card-6">
        <div class="card-body">
            <div class="container">
                <a asp-action="Create">Create New</a>
            </div>
        </div>
        <div class="card-footer">
            <table class="table" style="background-color: white;">
                <thead>
                    <tr>
                        <th class="col-2">Username</th>
                        <th class="col-3">Email</th>
                        <th class="col-2">Phone</th>
                        <th class="col-2">Role</th>
                        <th class="col-3">Tools</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var obj in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => obj.Username)</td>
                        <td>@Html.DisplayFor(modelItem => obj.Email)</td>
                        <td>@Html.DisplayFor(modelItem => obj.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => obj.Role)</td>
                        <td>
                                <a asp-action="Edit" asp-route-id="@obj.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>